requests
beautifulsoup4
lxml
python-dotenv
markdownify
langchain
langchain-core
langchain-text-splitters
langchain-community
sentence-transformers
streamlit
fastapi
uvicorn
pydantic
python-multipart
gunicorn
